<html>

<head>
  <title>Xuất phiếu sửa chữa</title>
  <style>
    @page {
      size: 21cm 29.7cm;
    }

    .whater {
      height: 100%;
      width: 100%;
      position: absolute;
    }

    div {
      font-size: 16px;
    }

    .mahoadon {
      position: absolute;
      left: 940px;
      top: 85px;
      font-size: 30px;
    }

    .tenkh {
      position: absolute;
      top: 195px;
      left: 100px;
      font-size: 20px;
      max-width: 280px;
    }

    .diachi {
      position: absolute;
      top: 190px;
      left: 350px;
      max-width: 350px;
    }

    .sdt {
      position: absolute;
      left: 160px;
      top: 225px;
    }

    .loaixe {
      position: absolute;
      left: 160px;
      top: 255px;
    }

    .bienso {
      position: absolute;
      left: 160px;
      top: 283px;
    }

    .sokhung {
      position: absolute;
      left: 415px;
      top: 254px;
    }

    .somay {
      position: absolute;
      left: 415px;
      top: 280px;
    }

    .sokm {
      position: absolute;
      top: 255px;
      left: 755px;
    }

    .ngayban {
      position: absolute;
      top: 175px;
      left: 870px;
    }

    .ngaythanhtoan {
      position: absolute;
      top: 225px;
      left: 870px;
    }

    .yeucaukhachhang {
      position: absolute;
      top: 345px;
      left: 85px;
      max-width: 450px;
      min-width: 450px;
    }

    .tuvansuachua {
      position: absolute;
      top: 345px;
      left: 545px;
      max-width: 415px;
      min-width: 415px;
    }

    .cell {
      position: absolute;
    }

    .row-ten {
      text-transform: lowercase;
    }

    .row-0 {
      top: calc(715px + 4px);
    }

    .row-1 {
      top: calc(715px + 28px);
    }

    .row-2 {
      top: calc(715px + 2 * 28px);
    }

    .row-3 {
      top: calc(715px + 3 * 28px);
    }

    .row-4 {
      top: calc(715px + 4 * 28px);
    }

    .row-5 {
      top: calc(715px + 5 * 28px);
    }

    .row-6 {
      top: calc(715px + 6 * 28px);
    }

    .row-7 {
      top: calc(715px + 7 * 28px);
    }

    .row-8 {
      top: calc(715px + 8 * 28px);
    }

    .row-9 {
      top: calc(715px + 9 * 28px);
    }

    .row-10 {
      top: calc(715px + 10 * 28px);
    }

    .row-11 {
      top: calc(715px + 11 * 28px);
    }

    .row-12 {
      top: calc(715px + 12 * 28px);
    }

    .row-13 {
      top: calc(715px + 13 * 28px);
    }

    .row-14 {
      top: calc(715px + 14 * 28px);
    }

    .row-15 {
      top: calc(715px + 15 * 28px);
    }

    .row-16 {
      top: calc(715px + 16 * 28px);
    }

    .row-17 {
      top: calc(715px + 17 * 28px);
    }

    .row-18 {
      top: calc(715px + 18 * 28px);
    }

    .row-19 {
      top: calc(715px + 19 * 28px);
    }

    .row-20 {
      top: calc(715px + 555px);
    }

    .ten {
      left: 120px;
      max-width: 181px;
      min-width: 181px;
      text-align: left;
      font-size: 13px;
    }

    .mapt {
      left: 310px;
      max-width: 175px;
      min-width: 175px;
      text-align: left;
    }

    .dongia {
      left: 410px;
      max-width: 145px;
      min-width: 145px;
      text-align: right;
    }

    .sl {
      left: 575px;
      text-align: center;
      min-width: 32px;
      max-width: 32px;
    }

    .chietkhau {
      left: 630px;
      min-width: 50px;
      max-width: 50px;
      text-align: right;
    }

    .tienpt {
      left: 645px;
      min-width: 150px;
      max-width: 150px;
      text-align: right;
    }

    .tiencong {
      left: 782px;
      min-width: 160px;
      max-width: 150px;
      text-align: right;
    }

    .tong {
      left: 945px;
      min-width: 160px;
      max-width: 160px;
      text-align: right;
    }
    .tongTest {
      left: 1117px;
      min-width: 160px;
      max-width: 160px;
      text-align: right;
    }
  </style>
</head>

<body>
  <img src='/phieusuachua.png' class="whater" />

  <div class='mahoadon'>{{mahoadon }}</div>
  <div class='tenkh'>{{tenkh}}</div>
  <div class="diachi">{{diachi}}</div>
  <div class="sdt">{{sodienthoai}}</div>
  <div class="loaixe">{{loaixe}}</div>
  <div class="sokhung">{{sokhung}}</div>
  <div class="bienso">{{biensoxe}}</div>
  <div class="somay">{{somay}}</div>
  <div class="sokm">{{sokm}}</div>
  <div class="ngayban">{{ngayban}}</div>
  <div class="ngaythanhtoan">{{ngaythanhtoan}}</div>

  <div class="yeucaukhachhang">{{yeucaukhachhang}}</div>
  <div class="tuvansuachua">{{tuvansuachua}}</div>

  {{#each chitiet}}
  <div class="cell ten row-{{@index}} row-ten">{{tenphutungvacongviec}}</div>
  <div class="cell mapt row-{{@index}}">{{maphutung}}</div>
  <div class="cell dongia row-{{@index}}">{{dongia}}</div>
  <div class="cell sl row-{{@index}}">{{soluongphutung}}</div>
  <div class="cell chietkhau row-{{@index}}">{{chietkhau}} %</div>
  <div class="cell tienpt row-{{@index}}">{{tinhtien}}</div>
  <div class="cell tiencong row-{{@index}}">{{tiencong}}</div>
  <div class="cell tong row-{{@index}}">{{tongtien}}</div>
  <div class="cell tongTest row-{{@index}}">{{tongtongtien}}</div>
  {{/each}}




  <div class="cell row-20 tienpt">{{tongtienpt}}</div>
  <div class="cell row-20 tiencong">{{tongtiencong}}</div>
  <div class="cell row-20 tong">{{tongtongtien}}</div>
  <div class="cell row-20 tongTest">{{tongtongtien}}</div>

  <script>
    function format_momey(name) {
      var list = document.getElementsByClassName(name);
      for (var i = 0; i < list.length; i++) {
        list[i].innerHTML = parseInt(list[i].innerHTML).toLocaleString('vi-VI', { style: 'currency', currency: 'VND' })
      }
    }
    format_momey("dongia");
    format_momey("tienpt");
    format_momey("tiencong");
    format_momey("tong");


  </script>
</body>

</html>