<html>

<head>
  <title>Xuất phiếu sửa chữa</title>
  <style>
    body {
      padding: 0;
      margin: 0;
    }

    img {
      width: 100vw;
      position: absolute;
    }

    div {
      font-size: 16px;
    }

    .mahoadon {
      position: absolute;
      left: 1060px;
      top: 120px;
      font-size: 30px;
    }

    .tenkh {
      position: absolute;
      top: 230px;
      left: 130px;
      font-size: 20px;
      max-width: 280px;
    }

    .diachi {
      position: absolute;
      top: 225px;
      left: 450px;
      max-width: 400px;
    }

    .loaixe {
      position: absolute;
      left: 172px;
      top: 289px;
    }

    .bienso {
      position: absolute;
      left: 172px;
      top: 317px;
    }

    .sdt {
      position: absolute;
      left: 208px;
      top: 261px;
    }

    .sokhung {
      position: absolute;
      left: 480px;
      top: 288px;
    }

    .somay {
      position: absolute;
      top: 316px;
      left: 480px;
    }

    .sokm {
      position: absolute;
      top: 288px;
      left: 866px;
    }

    .ngayban {
      position: absolute;
      top: 210px;
      left: 970px;
    }

    .ngaythanhtoan {
      position: absolute;
      top: 260px;
      left: 970px;
    }

    .yeucaukhachhang {
      position: absolute;
      top: 387px;
      left: 132px;
      max-width: 460px;
      min-width: 460px;
    }

    .tuvansuachua {
      position: absolute;
      top: 385px;
      left: 632px;
      max-width: 420px;
      min-width: 420px;

    }

    .cell {
      position: absolute;
    }

    .row-ten {
      text-transform: lowercase;
    }

    .row-0 {
      top: calc(740px + 0px);
    }

    .row-1 {
      top: calc(740px + 28px);
    }

    .row-2 {
      top: calc(740px + 2 * 28px);
    }

    .row-3 {
      top: calc(740px + 3 * 28px);
    }

    .row-4 {
      top: calc(740px + 4 * 28px);
    }

    .row-5 {
      top: calc(740px + 5 * 28px);
    }

    .row-6 {
      top: calc(740px + 6 * 28px);
    }

    .row-7 {
      top: calc(740px + 7 * 28px);
    }

    .row-8 {
      top: calc(740px + 8 * 28px);
    }

    .row-9 {
      top: calc(740px + 9 * 28px);
    }

    .row-10 {
      top: calc(740px + 10 * 28px);
    }

    .row-11 {
      top: calc(740px + 11 * 28px);
    }

    .row-12 {
      top: calc(740px + 12 * 28px);
    }

    .row-13 {
      top: calc(740px + 13 * 28px);
    }

    .row-14 {
      top: calc(740px + 14 * 28px);
    }

    .row-15 {
      top: calc(740px + 15 * 28px);
    }

    .row-16 {
      top: calc(740px + 16 * 28px);
    }

    .row-17 {
      top: calc(740px + 17 * 28px);
    }

    .row-18 {
      top: calc(740px + 18 * 28px);
    }

    .row-19 {
      top: calc(740px + 19 * 28px);
    }

    .row-20 {
      top: calc(740px + 560px);
    }

    .ten {
      left: 160px;
      max-width: 181px;
      min-width: 181px;
      text-align: left;
      font-size: 13px;
    }

    .mapt {
      left: 350px;
      max-width: 175px;
      min-width: 175px;
      text-align: left;
    }

    .dongia {
      left: 500px;
      max-width: 145px;
      min-width: 145px;
      text-align: right;
    }

    .sl {
      left: 666px;
      text-align: center;
      min-width: 32px;
      max-width: 32px;
    }

    .tienpt {
      left: 710px;
      min-width: 150px;
      max-width: 150px;
      text-align: right;
    }

    .tiencong {
      left: 882px;
      min-width: 160px;
      max-width: 150px;
      text-align: right;
    }

    .tong {
      left: 1067px;
      min-width: 160px;
      max-width: 160px;
      text-align: right;
    }
  </style>
</head>

<body>
  <img src='/mausuachua.jpg' />

  <div class='mahoadon'>{{mahoadon }}</div>
  <div class='tenkh'>{{tenkh}}</div>
  <div class="diachi">{{diachi}}</div>
  <div class="sdt">{{sodienthoai}}</div>
  <div class="loaixe">{{loaixe}}</div>
  <div class="sokhung">{{sokhung}}</div>
  <div class="bienso">{{biensoxe}}</div>
  <div class="somay">{{somay}}</div>
  <div class="sokm">{{sokm}}</div>
  <div class="ngayban">{{ngayban}}</div>
  <div class="ngaythanhtoan">{{ngaythanhtoan}}</div>

  <div class="yeucaukhachhang">{{yeucaukhachhang}}</div>
  <div class="tuvansuachua">{{tuvansuachua}}</div>

  {{#each chitiet}}
  <div class="cell ten row-{{@index}} row-ten">{{tenphutungvacongviec}}</div>
  <div class="cell mapt row-{{@index}}">{{maphutung}}</div>
  <div class="cell dongia row-{{@index}}">{{dongia}}</div>
  <div class="cell sl row-{{@index}}">{{soluongphutung}}</div>
  <div class="cell tienpt row-{{@index}}">{{tinhtien}}</div>
  <div class="cell tiencong row-{{@index}}">{{tiencong}}</div>
  <div class="cell tong row-{{@index}}">{{tongtien}}</div>
  {{/each}}




  <div class="cell row-20 tienpt">{{tongtienpt}}</div>
  <div class="cell row-20 tiencong">{{tongtiencong}}</div>
  <div class="cell row-20 tong">{{tongtongtien}}</div>

  <script>
    function format_momey(name) {
      var list = document.getElementsByClassName(name);
      for (var i = 0; i < list.length; i++) {
        list[i].innerHTML = parseInt(list[i].innerHTML).toLocaleString('vi-VI', { style: 'currency', currency: 'VND' })
      }
    }
    format_momey("dongia");
    format_momey("tienpt");
    format_momey("tiencong");
    format_momey("tong");


  </script>
</body>

</html>