<html>

<head>
  <title>Xuất phiếu sửa chữa</title>
  <style>
    @page {
      size: 21cm 29.7cm;
    }

    .whater {
      height: 100%;
      width: 100%;
      position: absolute;
    }

    div {
      font-size: 16px;
    }
    
    .overflow {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      vertical-align: middle;
    }

    .flex {
      white-space: normal;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .mahoadon {
      position: absolute;
      left: 800px;
      top: 44px;
      font-size: 30px;
      width: 260px;
    }

    .tenkh {
      position: absolute;
      top: 146px;
      left: 54px;
      font-size: 20px;
      width: 242px;
    }

    .diachi {
      position: absolute;
      top: 130px;
      left: 300px;
      width: 340px;
      height: 60px;
    }

    .sdt {
      position: absolute;
      left: 130px;
      top: 176px;
      width: 160px;
    }

    .loaixe {
      position: absolute;
      left: 110px;
      top: 202px;
      width: 180px;
    }

    .bienso {
      position: absolute;
      left: 110px;
      top: 228px;
      width: 180px;
    }

    .sokhung {
      position: absolute;
      left: 360px;
      top: 202px;
      width: 270px;
    }

    .somay {
      position: absolute;
      left: 360px;
      top: 228px;
      width: 270px;
    }

    .sokm {
      position: absolute;
      top: 202px;
      left: 690px;
      width: 150px;
    }

    .ngayban {
      position: absolute;
      top: 130px;
      left: 780px;
      width: 200px;
    }

    .ngaythanhtoan {
      position: absolute;
      top: 176px;
      left: 780px;
      width: 200px;
    }

    .yeucaukhachhang {
      position: absolute;
      top: 288px;
      left: 56px;
      width: 416px;
      height: 78px; 
      white-space: normal;
    }

    .tuvansuachua {
      position: absolute;
      top: 288px;
      left: 482px;
      width: 382px;
      height: 78px; 
      white-space: normal;
    }

    .cell {
      position: absolute;
      height: 24px;
      line-height: 12px;
      justify-content: flex-end;
    }

    .row-ten {
      text-transform: lowercase;
    }

    .row-0 {
      top: calc(620px + 0 * 26px + 2px );
    }

    .row-1 {
      top: calc(620px + 1 * 26px + 2px);
    }

    .row-2 {
      top: calc(620px + 2 * 26px + 2px);
    }

    .row-3 {
      top: calc(620px + 3 * 26px + 2px);
    }

    .row-4 {
      top: calc(620px + 4 * 26px + 2px);
    }

    .row-5 {
      top: calc(620px + 5 * 26px + 2px);
    }

    .row-6 {
      top: calc(620px + 6 * 26px + 2px);
    }

    .row-7 {
      top: calc(620px + 7 * 26px + 2px);
    }

    .row-8 {
      top: calc(620px + 8 * 26px + 2px);
    }

    .row-9 {
      top: calc(620px + 9 * 26px + 2px);
    }

    .row-10 {
      top: calc(620px + 10 * 26px + 2px);
    }

    .row-11 {
      top: calc(620px + 11 * 26px + 2px);
    }

    .row-12 {
      top: calc(620px + 12 * 26px + 2px);
    }

    .row-13 {
      top: calc(620px + 13 * 26px + 2px);
    }

    .row-14 {
      top: calc(620px + 14 * 26px + 2px);
    }

    .row-15 {
      top: calc(620px + 15 * 26px + 2px);
    }

    .row-16 {
      top: calc(620px + 16 * 26px + 2px);
    }

    .row-17 {
      top: calc(620px + 17 * 26px + 2px);
    }

    .row-18 {
      top: calc(620px + 18 * 26px + 2px);
    }

    .row-19 {
      top: calc(620px + 19 * 26px + 2px);
    }

    .row-20 {
      top: calc(620px + 20 * 26px + 2px);
    }

    .ten {
      left: 88px;
      width: 155px;
      font-size: 12px;
      justify-content: flex-start;
    }

    .mapt {
      left: 244px;
      width: 150px;
      justify-content: center;
    }

    .dongia {
      left: 394px;
      width: 100px;
    }

    .sl {
      left: 500px;
      width: 22px;
    }

    .chietkhau {
      left: 532px;
      width: 48px;
      font-size: 12px;
    }

    .tienchietkhau {
      left: 580px;
      width: 75px;
      font-size: 13px;
    }

    .tienpt {
      left: 670px;
      width: 86px;
      font-size: 14px;
    }

    .tiencong {
      left: 740px;
      width: 110px;
    }

    .tong {
      left: 870px;
      width: 138px;
    }

    .tennvsuachua {
      position: absolute;
      top: 1320px;
      left: 800px;
      width: 100px;
      height: 65px;
      font-size: 22px;
    }

    .kiemtralantoi {
      position: absolute;
      top: 1228px;
      left: 460px;
      width: 242px;
      height: 30px;
      font-size: 22px;
    }

    .ngayhen {
      position: absolute;
      top: 1228px;
      left: 710px;
      width: 156px;
      height: 30px;
      font-size: 22px;
    }
  </style>
</head>

<body>
  <img src='/phieusuachua.png' class="whater" />

  <div class='mahoadon overflow'>{{mahoadon }}</div>
  <div class='tenkh overflow'>{{tenkh}}</div>
  <div class="diachi overflow flex">{{diachi}}</div>
  <div class="sdt overflow">{{sodienthoai}}</div>
  <div class="loaixe overflow">{{loaixe}}</div>
  <div class="sokhung overflow">{{sokhung}}</div>
  <div class="bienso overflow">{{biensoxe}}</div>
  <div class="somay overflow">{{somay}}</div>
  <div class="sokm overflow">{{sokm}}</div>
  <div class="ngayban overflow">{{ngayban}}</div>
  <div class="ngaythanhtoan overflow">{{ngaythanhtoan}}</div>

  <div class="yeucaukhachhang overflow flex">{{yeucaukhachhang}}</div>
  <div class="tuvansuachua overflow flex">{{tuvansuachua}}</div>

  {{#each chitiet}}
  <div class="cell overflow flex ten row-{{@index}} row-ten">{{tenphutungvacongviec}}</div>
  <div class="cell overflow flex mapt row-{{@index}}">{{maphutung}}</div>
  <div class="cell overflow flex dongia row-{{@index}}">{{dongia}}</div>
  <div class="cell overflow flex sl row-{{@index}}">{{soluongphutung}}</div>
  <div class="cell overflow flex chietkhau row-{{@index}}">{{chietkhau}} %</div>
  <div class="cell overflow flex tienchietkhau row-{{@index}}">{{tienchietkhau}}</div>
  <div class="cell overflow flex tienpt row-{{@index}}">{{tienpt}}</div>
  <div class="cell overflow flex tiencong row-{{@index}}">{{tiencong}}</div>
  <div class="cell overflow flex tong row-{{@index}}">{{tongtien}}</div>
  {{/each}}


  <div class="cell overflow flex row-20 tienpt overflow">{{tongtienpt}}</div>
  <div class="cell overflow flex row-20 tiencong overflow">{{tongtiencong}}</div>
  <div class="cell overflow flex row-20 tong overflow">{{tongtongtien}}</div>
  <div class="kiemtralantoi overflow flex">{{kiemtralantoi}}</div>
  <div class="ngayhen overflow flex">{{ngayhen}}</div>

  <div class="tennvsuachua overflow flex" id="tennvsuachua">{{tennvsuachua}}</div>

  <script>
    function format_momey(name) {
      var list = document.getElementsByClassName(name);
      for (var i = 0; i < list.length; i++) {
        list[i].innerHTML = parseInt(list[i].innerHTML).toLocaleString('vi-VI', { style: 'currency', currency: 'VND' })
      }
    }
    format_momey("tienchietkhau");
    format_momey("dongia");
    format_momey("tienpt");
    format_momey("tiencong");
    format_momey("tong");
    var tennvsuachua = document.getElementById("tennvsuachua");
    if (tennvsuachua) {
      var rs = tennvsuachua.innerText.split(" ");
      tennvsuachua.innerText = rs[rs.length - 1];
    }


  </script>
</body>

</html>