<html>

<head>
  <title>Xuất phiếu sửa chữa</title>
  <style>
    body {
      padding: 0;
      margin: 0;
    }

    img {
      width: 100vw;
      position: absolute;
    }

    div {
      font-size: 16px;
    }

    .mahoadon {
      position: absolute;
      left: 1060px;
      top: 120px;
      font-size: 30px;
    }

    .tenkh {
      position: absolute;
      top: 230px;
      left: 130px;
      font-size: 20px;
      max-width: 280px;
    }

    .diachi {
      position: absolute;
      top: 225px;
      left: 450px;
      max-width: 400px;
    }

    .loaixe {
      position: absolute;
      left: 172px;
      top: 289px;
    }

    .bienso {
      position: absolute;
      left: 172px;
      top: 317px;
    }

    .sdt {
      position: absolute;
      left: 208px;
      top: 261px;
    }

    .sokhung {
      position: absolute;
      left: 480px;
      top: 288px;
    }

    .somay {
      position: absolute;
      top: 316px;
      left: 480px;
    }

    .sokm {
      position: absolute;
      top: 288px;
      left: 866px;
    }

    .ngayban {
      position: absolute;
      top: 210px;
      left: 970px;
    }

    .ngaythanhtoan {
      position: absolute;
      top: 260px;
      left: 970px;
    }
    .yeucaukhachhang {
      position: absolute;
      top: 416px;
      left: 135px;
    }

    .tuvansuachua {
      position: absolute;
      top: 416px;
      left: 635px;
    }

    .cell {
      position: absolute;
    }

    .row-0 {
      top: calc(747px + 0px);
    }

    .row-1 {
      top: calc(747px + 26px);
    }

    .row-2 {
      top: calc(747px + 2 * 26px);
    }

    .row-3 {
      top: calc(747px + 3 * 26px);
    }

    .row-4 {
      top: calc(747px + 4 * 26px);
    }

    .row-5 {
      top: calc(747px + 5 * 26px);
    }

    .row-6 {
      top: calc(747px + 6 * 26px);
    }

    .row-7 {
      top: calc(747px + 7 * 26px);
    }

    .row-8 {
      top: calc(747px + 8 * 26px);
    }

    .row-9 {
      top: calc(747px + 9 * 26px);
    }

    .row-10 {
      top: calc(747px + 10 * 26px);
    }

    .row-11 {
      top: calc(747px + 11 * 26px);
    }

    .row-12 {
      top: calc(747px + 12 * 26px);
    }

    .row-13 {
      top: calc(747px + 13 * 26px);
    }

    .row-14 {
      top: calc(747px + 14 * 26px);
    }

    .row-15 {
      top: calc(747px + 15 * 26px);
    }

    .row-16 {
      top: calc(747px + 16 * 26px);
    }

    .row-17 {
      top: calc(747px + 17 * 26px);
    }

    .row-18 {
      top: calc(747px + 18 * 26px);
    }

    .row-19 {
      top: calc(747px + 19 * 26px);
    }

    .row-20 {
      top: calc(747px + 555px);
    }

    .ten {
      left: 160px;
      max-width: 181px;
      min-width: 181px;
      text-align: center;
    }

    .mapt {
      left: 342px;
      max-width: 175px;
      min-width: 175px;
      text-align: center;
    }

    .dongia {
      left: 518px;
      max-width: 145px;
      min-width: 145px;
      text-align: center;
    }

    .sl {
      left: 666px;
      text-align: center;
      min-width: 32px;
      max-width: 32px;
    }

    .tienpt {
      left: 702px;
      min-width: 150px;
      max-width: 150px;
      text-align: center;
    }

    .tiencong {
      left: 878px;
      min-width: 160px;
      max-width: 100px;
      text-align: center;
    }

    .tong {
      left: 1067px;
      min-width: 160px;
      max-width: 160px;
      text-align: center;
    }
  </style>
</head>

<body>
  <img src='/mausuachua.jpg' />

  <div class='mahoadon'>{{mahoadon }}</div>
  <div class='tenkh'>{{tenkh}}</div>
  <div class="diachi">{{diachi}}</div>
  <div class="sdt">{{sodienthoai}}</div>
  <div class="loaixe">{{loaixe}}</div>
  <div class="sokhung">{{sokhung}}</div>
  <div class="bienso">{{biensoxe}}</div>
  <div class="somay">{{somay}}</div>
  <div class="sokm">{{sokm}}</div>
  <div class="ngayban">{{ngayban}}</div>
  <div class="ngaythanhtoan">{{ngaythanhtoan}}</div>
  
  <div class="yeucaukhachhang">{{yeucaukhachhang}}</div>
  <div class="tuvansuachua">{{tuvansuachua}}</div>

  {{#each chitiet}}
  <div class="cell ten row-{{@index}}">{{tenphutungvacongviec}}</div>
  <div class="cell mapt row-{{@index}}">{{maphutung}}</div>
  <div class="cell dongia row-{{@index}}">{{dongia}}</div>
  <div class="cell sl row-{{@index}}">{{soluongphutung}}</div>
  <div class="cell tienpt row-{{@index}}">{{tinhtien dongia soluongphutung}}</div>
  <div class="cell tiencong row-{{@index}}">{{tiencong}}</div>
  <div class="cell tong row-{{@index}}">{{tongtien}}</div>
  {{/each}}




  <div class="cell row-20 tienpt">{{tongtienpt}}</div>
  <div class="cell row-20 tiencong">{{tongtiencong}}</div>
  <div class="cell row-20 tong">{{tongtientong}}</div>

</body>

</html>