<html>

<head>
  <title>Xuất phiếu bán lẻ</title>
  <style>
    @page {
      size: 21cm 29.7cm;
    }

    .whater {
      height: 100%;
      width: 100%;
      position: absolute;
    }

    div {
      font-size: 12px;
    }

    .mahoadon {
      position: absolute;
      left: 630px;
      top: 75px;
      font-size: 30px;
    }

    .tenkh {
      position: absolute;
      top: 313px;
      left: 200px;
      max-width: 280px;
    }

    .diachi {
      position: absolute;
      top: 342px;
      left: 125px;
      max-width: 350px;
    }

    .sdt {
      position: absolute;
      left: 440px;
      top: 342px;
    }

    .manv {
      position: absolute;
      top: 372px;
      left: 200px;
      max-width: 280px;
    }


    #ngaythanhtoan {
      position: absolute;
      top: 280px;
      left: 320px;
    }

    #thangthanhtoan {
      position: absolute;
      top: 280px;
      left: 410px;
    }

    #namthanhtoan {
      position: absolute;
      top: 280px;
      left: 475px;
    }


    .cell {
      position: absolute;
    }

    .row-ten {
      text-transform: lowercase;
    }

    .row-0 {
      top: calc(432px + 0 * 16px);
    }

    .row-1 {
      top: calc(432px + 1 * 16px);
    }

    .row-2 {
      top: calc(432px + 2 * 16px);
    }

    .row-3 {
      top: calc(432px + 3 * 16px);
    }

    .row-4 {
      top: calc(430px + 4 * 16px);
    }

    .row-5 {
      top: calc(430px + 5 * 16px);
    }

    .row-6 {
      top: calc(430px + 6 * 16px);
    }

    .row-7 {
      top: calc(430px + 7 * 16px);
    }

    .row-8 {
      top: calc(428px + 8 * 16px);
    }

    .row-9 {
      top: calc(428px + 9 * 16px);
    }

    .row-10 {
      top: calc(428px + 10 * 16px);
    }

    .row-11 {
      top: calc(426px + 11 * 16px);
    }

    .row-12 {
      top: calc(426px + 12 * 16px);
    }

    .row-13 {
      top: calc(426px + 13 * 16px);
    }

    .row-14 {
      top: calc(424px + 14 * 16px);
    }

    .row-15 {
      top: calc(424px + 15 * 16px);
    }

    .row-16 {
      top: calc(424px + 16 * 16px);
    }

    .row-17 {
      top: calc(422px + 17 * 16px);
    }

    .row-18 {
      top: calc(422px + 18 * 16px);
    }

    .row-19 {
      top: calc(422px + 19 * 16px);
    }
    
    .row-20 {
      top: calc(422px + 20 * 16px);
    }
    
    .row-21 {
      top: calc(420px + 21 * 16px);
    }
    
    .row-22 {
      top: calc(420px + 22 * 16px);
    }  

    .row-23 {
      top: calc(420px + 23 * 16px);
    }
    
    .row-24 {
      top: calc(420px + 24 * 16px);
    }

    .row-25 {
      top: calc(420px + 25 * 16px);
    } 

    .row-26 {
      top: calc(420px + 26 * 16px);
    }

    .row-27 {
      top: calc(418px + 27 * 16px);
    }

    .row-28 {
      top: calc(418px + 28 * 16px);
    }
    .row-29 {
      top: calc(420px + 29 * 16px);
    }
    .row-30 {
      top: calc(422px + 30 * 16px);
    }
    .row-31 {
      top: calc(424px + 31 * 16px);
    }
    .row-32 {
      top: calc(426px + 32 * 16px);
    }
    .row-33 {
      top: calc(430px + 33 * 16px);
    }
    .row-tongtien {
      top: calc(430px + 560px);
    }

    .index {
      left: 80px;
      max-width: 15px;
      min-width: 15px;
      text-align: right;
    }

    .mapt {
      left: 110px;
      max-width: 125px;
      min-width: 125px;
      text-align: left;
    }

    .ten {
      left: 245px;
      max-width: 165px;
      min-width: 165px;
      text-align: left;
    }

    .sl {
      left: 425px;
      text-align: right;
      min-width: 32px;
      max-width: 32px;
    }

    .dongia {
      left: 456px;
      max-width: 95px;
      min-width: 95px;
      text-align: right;
    }

    .chietkhau {
      left: 570px;
      min-width: 50px;
      max-width: 50px;
      text-align: right;
    }

    .tong {
      left: 623px;
      min-width: 95px;
      max-width: 95px;
      text-align: right;
    }

    .tongtien {
      left: 615px;
      min-width: 85px;
      max-width: 85px;
      text-align: right;
      font-size: 20px;
    }
  </style>
</head>

<body>
  <img src='/maule.png' class="whater" />

  <div class='mahoadon'>{{mahoadon }}</div>
  <div class='tenkh'>{{tenkh}}</div>
  <div class="diachi">{{diachi}}</div>
  <div class="sdt">{{sodienthoai}}</div>
  <div class="manv">{{tennv}}</div>


  <div id="thanhtoan" style="display: none;">{{ngaythanhtoan}}</div>
  <div id="ngaythanhtoan"></div>
  <div id="thangthanhtoan"></div>
  <div id="namthanhtoan"></div>

  {{#each chitiet}}
  <div class="cell index row-{{@index}}">{{@index}}</div>
  <div class="cell mapt row-{{@index}}">{{maphutung}}</div>
  <div class="cell ten row-{{@index}} row-ten">{{tenphutung}}</div>
  <div class="cell sl row-{{@index}}">{{soluong}}</div>
  <div class="cell dongia row-{{@index}}">{{dongia}}</div>
  <div class="cell chietkhau row-{{@index}}">{{chietkhau}} %</div>
  <div class="cell tong row-{{@index}}">{{tongtien}}</div>
  {{/each}}




  <b><div class="cell row-tongtien tongtien">{{tongtien}}</div></b>

  <script>
    function format_momey(name) {
      var list = document.getElementsByClassName(name);
      for (var i = 0; i < list.length; i++) {
        list[i].innerHTML = parseInt(list[i].innerHTML).toLocaleString('vi-VI', { style: 'currency', currency: 'VND' })
      }
    }


    console.log(document.getElementById("thanhtoan").innerHTML);
    var date = new Date(document.getElementById("thanhtoan").innerHTML);
    document.getElementById("ngaythanhtoan").innerHTML = date.getDate();
    document.getElementById("thangthanhtoan").innerHTML = (date.getMonth() + 1);
    document.getElementById("namthanhtoan").innerHTML = date.getFullYear();

    var list = document.getElementsByClassName("index");
    for (var i = 0; i < list.length; i++) {
      list[i].innerHTML = parseInt(list[i].innerHTML) + 1;
    }
    
    format_momey("tong");
    format_momey("dongia");
    format_momey("tongtien");



  </script>
</body>

</html>